In [1]:
import pandas as pd
import numpy as np
from numpy import math
from datetime import datetime, date, time
from datetime import timedelta

from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import metrics

In [2]:
header_list = ['Date Time', 'Voltage', 'Current']
df = pd.read_csv('sensors_data.csv', names = header_list)
df['Power (W)'] = df['Voltage'] * df['Current']
df['Power (KW)'] = df['Power (W)'] / 1000
df['Date Time'] = pd.to_datetime(df['Date Time'])
df['Date'] = df['Date Time'].dt.date
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Date Time']).dt.time
df['Hour'] = pd.to_datetime(df['Date Time']).dt.hour
df['Time'] = df['Time'].astype(str)
# df['Hour'] = df['Hour'].astype(str)

In [3]:
df.head(5)

,Date Time,Voltage,Current,Power (W),Power (KW),Date,Time,Hour
0,2022-06-11 23:53:22,0.43945,0.0,0.0,0.0,2022-06-11,23:53:22,23
1,2022-06-11 23:54:22,0.48828,0.0,0.0,0.0,2022-06-11,23:54:22,23
2,2022-06-11 23:55:22,0.46387,0.0,0.0,0.0,2022-06-11,23:55:22,23
3,2022-06-11 23:56:22,0.46387,0.0,0.0,0.0,2022-06-11,23:56:22,23
4,2022-06-11 23:57:22,0.46387,0.0,0.0,0.0,2022-06-11,23:57:22,23

In [4]:
rearrange_columns = ['Date Time', 'Date', 'Time', 'Hour', 'Voltage', 'Current', 'Power (W)', 'Power (KW)']
df = df[rearrange_columns]
df.tail(5)

,Date Time,Date,Time,Hour,Voltage,Current,Power (W),Power (KW)
16499,2022-06-24 00:13:58,2022-06-24,00:13:58,0,0.24414,0.0,0.0,0.0
16500,2022-06-24 00:14:58,2022-06-24,00:14:58,0,0.21973,0.0,0.0,0.0
16501,2022-06-24 00:15:58,2022-06-24,00:15:58,0,0.21973,0.0,0.0,0.0
16502,2022-06-24 00:16:58,2022-06-24,00:16:58,0,0.26855,0.0,0.0,0.0
16503,2022-06-24 00:17:58,2022-06-24,00:17:58,0,0.24414,0.0,0.0,0.0

In [5]:
unique_date = df['Date'].unique()
unique_date

array(['2022-06-11T00:00:00.000000000', '2022-06-12T00:00:00.000000000',
       '2022-06-13T00:00:00.000000000', '2022-06-14T00:00:00.000000000',
       '2022-06-15T00:00:00.000000000', '2022-06-16T00:00:00.000000000',
       '2022-06-17T00:00:00.000000000', '2022-06-18T00:00:00.000000000',
       '2022-06-19T00:00:00.000000000', '2022-06-20T00:00:00.000000000',
       '2022-06-21T00:00:00.000000000', '2022-06-22T00:00:00.000000000',
       '2022-06-23T00:00:00.000000000', '2022-06-24T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [6]:
filter_today_values = df[df['Date'] == unique_date[-1]][['Date', 'Hour', 'Power (KW)']]
today_hourly_values = filter_today_values.groupby(['Date', 'Hour'])['Power (KW)'].sum().reset_index()

In [7]:
filter_daily_values = df[(df['Date'] >= '2022-06-18') & (df['Date'] <= unique_date[-2])][['Date', 'Hour', 'Power (KW)']]
filter_daily_values

            Date  Hour  Power (KW)
8169  2022-06-18     0         0.0
8170  2022-06-18     0         0.0
8171  2022-06-18     0         0.0
8172  2022-06-18     0         0.0
8173  2022-06-18     0         0.0
...          ...   ...         ...
16481 2022-06-23    23         0.0
16482 2022-06-23    23         0.0
16483 2022-06-23    23         0.0
16484 2022-06-23    23         0.0
16485 2022-06-23    23         0.0

[8317 rows x 3 columns]

In [8]:
daily_hourly_values = filter_daily_values.groupby(['Date', 'Hour'])['Power (KW)'].sum().reset_index()
daily_hourly_values.head()

        Date  Hour  Power (KW)
0 2022-06-18     0         0.0
1 2022-06-18     1         0.0
2 2022-06-18     2         0.0
3 2022-06-18     3         0.0
4 2022-06-18     4         0.0

In [9]:
# daily_values = daily_values[daily_values['Date'] > '2022-06-11']

In [10]:
header_list = ['SolarIrradiance (W/m2)', 'weather status', 'Temp (°C)', 'RealFeelTemp (°C)', 'DewPoint (°C)', 'Wind (km/h)',
              'Direction', 'Hum (%)', 'Visibility (km)', 'UVIndex', 'UVIndexText', 'PreProbability (%)', 'RainProbability (%)',
              'CloudCover (%)']
weather_data = pd.read_csv('hourly_weather_forecasted_data.csv', names = header_list, encoding= 'unicode_escape')
weather_data.drop(['RealFeelTemp (°C)', 'DewPoint (°C)', 'Wind (km/h)', 'Direction', 'Visibility (km)', 'UVIndex', 
                   'UVIndexText', 'PreProbability (%)', 'RainProbability (%)', 'weather status'], axis = 1, inplace = True)
weather_data.tail()

     SolarIrradiance (W/m2)  Temp (°C)  Hum (%)  CloudCover (%)
151                    44.5       15.2       86              70
152                    48.8       16.3       79              83
153                    52.1       17.3       72              90
154                    51.4       18.2       67              97
155                    58.0       18.8       64              95

In [11]:
df1 = pd.concat([daily_hourly_values, weather_data], axis = 1)
df1.drop(['Date', 'Hour'], axis = 1, inplace = True)
df1.loc[df1['SolarIrradiance (W/m2)'] == 0, ['Temp (°C)', 'Hum (%)', 'CloudCover (%)']] = 0
# df1.to_csv('solar_energy_predictions.csv')
df1.tail(14)

     Power (KW)  SolarIrradiance (W/m2)  Temp (°C)  Hum (%)  CloudCover (%)
142         0.0                     0.0        0.0        0               0
143         0.0                     0.0        0.0        0               0
144         NaN                     0.0        0.0        0               0
145         NaN                     0.0        0.0        0               0
146         NaN                     0.0        0.0        0               0
147         NaN                     0.0        0.0        0               0
148         NaN                     0.0        0.0        0               0
149         NaN                     7.5       13.4       91              70
150         NaN                    27.3       14.4       89              70
151         NaN                    44.5       15.2       86              70
152         NaN                    48.8       16.3       79              83
153         NaN                    52.1       17.3       72              90
154         NaN                    51.4       18.2       67              97
155         NaN                    58.0       18.8       64              95

In [12]:
count_total_rows = len(df1) - 12

In [13]:
independent_columns = df1[['SolarIrradiance (W/m2)', 'Temp (°C)', 'Hum (%)', 'CloudCover (%)']][0:count_total_rows]

In [14]:
dependent_column = df1['Power (KW)'][0:count_total_rows]

In [15]:
reg = linear_model.LinearRegression(fit_intercept = False)
reg.fit(independent_columns, dependent_column)

LinearRegression(fit_intercept=False)

#### Is model well fit or not?

In [16]:
r_sq = reg.score(independent_columns, dependent_column)
r_sq

0.33035761737620206

In [17]:
reg.intercept_

0.0

In [18]:
reg.coef_

array([ 0.00738691,  0.03705704, -0.00059478, -0.00536309])

In [19]:
forcasted_data = df1[['SolarIrradiance (W/m2)', 'Temp (°C)', 'Hum (%)', 'CloudCover (%)']].tail(12)

In [20]:
return_array = list(reg.predict(forcasted_data))

In [21]:
# predicted_data = pd.DataFrame(return_array, columns = ['Power (KW)'])
# predicted_data

In [22]:
now = datetime.now()
date = now.strftime('%Y-%m-%d')
current_date_24 = [date, date, date, date, date, date, date, date, date, date, date, date, date, date, date, date,
                date, date, date, date, date, date, date, date]
current_date_12 = [date, date, date, date, date, date, date, date, date, date, date, date]

In [23]:
hours_24 = list(daily_hourly_values['Hour'][0:24])
hours_12 = list(daily_hourly_values['Hour'][0:12])

In [24]:
data_dict = {'Date': current_date_12, 'Hour': hours_12, 'Power (KW)': return_array}

In [25]:
data_dataframe = pd.DataFrame(data_dict)
data_dataframe

          Date  Hour  Power (KW)
0   2022-06-24     0    0.000000
1   2022-06-24     1    0.000000
2   2022-06-24     2    0.000000
3   2022-06-24     3    0.000000
4   2022-06-24     4    0.000000
5   2022-06-24     5    0.122425
6   2022-06-24     6    0.306932
7   2022-06-24     7    0.465417
8   2022-06-24     8    0.472387
9   2022-06-24     9    0.500442
10  2022-06-24    10    0.494055
11  2022-06-24    11    0.577554

## Evaluating the model

#### MSE = mean_squared_error(actual value, predicted value)

In [26]:
mean_sq_error = metrics.mean_squared_error(today_hourly_values['Power (KW)'], data_dataframe['Power (KW)'])
mean_sq_error

ValueError: Found input variables with inconsistent numbers of samples: [1, 12]

In [ ]:
root_mean_sq_error = np.sqrt(mean_sq_error)
root_mean_sq_error

In [ ]:
mean_ab_error = metrics.mean_absolute_error(today_hourly_values['Power (KW)'], data_dataframe['Power (KW)'])
mean_ab_error

#### R squared

In [ ]:
r_squared = metrics.r2_score(today_hourly_values['Power (KW)'], data_dataframe['Power (KW)'])
r_squared

In [ ]:
# dependent_variable = 'Power (KW)'

In [ ]:
# independent_variables = df1.columns.tolist()
# independent_variables.remove(dependent_variable)

In [ ]:
# independent_variables

In [ ]:
# X = df1[independent_variables].values

In [ ]:
# y = df1[dependent_variable].values

In [ ]:
# X_train, X_test, y_train, y_test, = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
# X_train

In [ ]:
# regressor = LinearRegression()
# regressor.fit(X_train, y_train)

In [ ]:
# y_pred = regressor.predict(X_test)
# y_pred

In [ ]:
# math.sqrt(mean_squared_error(y_test, y_pred))

In [ ]:
# r2_score(y_test, y_pred)