In [1]:
import pandas as pd
import numpy as np
from numpy import math
from datetime import datetime, date, time
from datetime import timedelta

from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [2]:
header_list = ['Date Time', 'Voltage', 'Current']
df = pd.read_csv('sensors_data.csv', names = header_list)
df['Power (W)'] = df['Voltage'] * df['Current']
df['Power (KW)'] = df['Power (W)'] / 1000
df['Date Time'] = pd.to_datetime(df['Date Time'])
df['Date'] = df['Date Time'].dt.date
df['Date'] = pd.to_datetime(df['Date'])
df['Time'] = pd.to_datetime(df['Date Time']).dt.time
df['Hour'] = pd.to_datetime(df['Date Time']).dt.hour
df['Time'] = df['Time'].astype(str)
# df['Hour'] = df['Hour'].astype(str)

In [3]:
df.head(5)

,Date Time,Voltage,Current,Power (W),Power (KW),Date,Time,Hour
0,2022-06-11 23:53:22,0.43945,0.0,0.0,0.0,2022-06-11,23:53:22,23
1,2022-06-11 23:54:22,0.48828,0.0,0.0,0.0,2022-06-11,23:54:22,23
2,2022-06-11 23:55:22,0.46387,0.0,0.0,0.0,2022-06-11,23:55:22,23
3,2022-06-11 23:56:22,0.46387,0.0,0.0,0.0,2022-06-11,23:56:22,23
4,2022-06-11 23:57:22,0.46387,0.0,0.0,0.0,2022-06-11,23:57:22,23

In [4]:
rearrange_columns = ['Date Time', 'Date', 'Time', 'Hour', 'Voltage', 'Current', 'Power (W)', 'Power (KW)']
df = df[rearrange_columns]
df.tail(5)

,Date Time,Date,Time,Hour,Voltage,Current,Power (W),Power (KW)
9571,2022-06-18 23:30:29,2022-06-18,23:30:29,23,0.17090,0.0,0.0,0.0
9572,2022-06-18 23:31:29,2022-06-18,23:31:29,23,0.26855,0.0,0.0,0.0
9573,2022-06-18 23:32:29,2022-06-18,23:32:29,23,0.09766,0.0,0.0,0.0
9574,2022-06-18 23:33:29,2022-06-18,23:33:29,23,0.24414,0.0,0.0,0.0
9575,2022-06-18 23:34:30,2022-06-18,23:34:30,23,0.17090,0.0,0.0,0.0

In [5]:
filter_daily_values = df[df['Date'] == '2022-06-18'][['Date', 'Hour', 'Power (KW)']]
filter_daily_values

           Date  Hour  Power (KW)
8169 2022-06-18     0         0.0
8170 2022-06-18     0         0.0
8171 2022-06-18     0         0.0
8172 2022-06-18     0         0.0
8173 2022-06-18     0         0.0
...         ...   ...         ...
9571 2022-06-18    23         0.0
9572 2022-06-18    23         0.0
9573 2022-06-18    23         0.0
9574 2022-06-18    23         0.0
9575 2022-06-18    23         0.0

[1407 rows x 3 columns]

In [6]:
daily_hourly_values = filter_daily_values.groupby(['Date', 'Hour'])['Power (KW)'].sum().reset_index()
daily_hourly_values

         Date  Hour  Power (KW)
0  2022-06-18     0    0.000000
1  2022-06-18     1    0.000000
2  2022-06-18     2    0.000000
3  2022-06-18     3    0.000000
4  2022-06-18     4    0.000000
5  2022-06-18     5    0.000000
6  2022-06-18     6    0.000000
7  2022-06-18     7    0.000000
8  2022-06-18     8    0.000000
9  2022-06-18     9    0.016607
10 2022-06-18    10    0.145972
11 2022-06-18    11    0.112096
12 2022-06-18    12    0.106207
13 2022-06-18    13    0.123040
14 2022-06-18    14    0.158956
15 2022-06-18    15    0.238389
16 2022-06-18    16    0.115605
17 2022-06-18    17    0.159412
18 2022-06-18    18    0.069041
19 2022-06-18    19    0.086502
20 2022-06-18    20    0.039576
21 2022-06-18    21    0.000000
22 2022-06-18    22    0.000000
23 2022-06-18    23    0.000000

In [7]:
# daily_values = daily_values[daily_values['Date'] > '2022-06-11']

In [8]:
header_list = ['SolarIrradiance (W/m2)', 'weather status', 'Temp (°C)', 'RealFeelTemp (°C)', 'DewPoint (°C)', 'Wind (km/h)',
              'Direction', 'Hum (%)', 'Visibility (km)', 'UVIndex', 'UVIndexText', 'PreProbability (%)', 'RainProbability (%)',
              'CloudCover (%)']
weather_data = pd.read_csv('hourly_weather_forecasted_data.csv', names = header_list, encoding= 'unicode_escape')
weather_data.drop(['RealFeelTemp (°C)', 'DewPoint (°C)', 'Wind (km/h)', 'Direction', 'Visibility (km)', 'UVIndex', 
                   'UVIndexText', 'PreProbability (%)', 'RainProbability (%)', 'weather status'], axis = 1, inplace = True)
weather_data.head()

   SolarIrradiance (W/m2)  Temp (°C)  Hum (%)  CloudCover (%)
0                     0.0       19.4       77              76
1                     0.0       18.7       78              76
2                     0.0       18.0       81              76
3                     0.0       17.4       85              76
4                     0.0       16.9       84              76

In [9]:
df1 = pd.concat([daily_hourly_values, weather_data], axis = 1)
df1.drop(['Date', 'Hour'], axis = 1, inplace = True)
df1.loc[df1['SolarIrradiance (W/m2)'] == 0, ['Temp (°C)', 'Hum (%)', 'CloudCover (%)']] = 0
# df1.to_csv('solar_energy_predictions.csv')
df1.head()

   Power (KW)  SolarIrradiance (W/m2)  Temp (°C)  Hum (%)  CloudCover (%)
0         0.0                     0.0        0.0        0               0
1         0.0                     0.0        0.0        0               0
2         0.0                     0.0        0.0        0               0
3         0.0                     0.0        0.0        0               0
4         0.0                     0.0        0.0        0               0

In [10]:
count_total_rows = len(df1) - 24

In [11]:
independent_columns = df1[['SolarIrradiance (W/m2)', 'Temp (°C)', 'Hum (%)', 'CloudCover (%)']][0:count_total_rows]

In [12]:
dependent_column = df1['Power (KW)'][0:count_total_rows]

In [13]:
reg = linear_model.LinearRegression()
reg.fit(independent_columns, dependent_column)

LinearRegression()

In [14]:
forcasted_data = df1[['SolarIrradiance (W/m2)', 'Temp (°C)', 'Hum (%)', 'CloudCover (%)']].tail(-24)

In [15]:
return_array = list(reg.predict(forcasted_data))

In [16]:
# predicted_data = pd.DataFrame(return_array, columns = ['Power (KW)'])
# predicted_data

In [17]:
now = datetime.now()
date = now.strftime('%Y-%m-%d')
current_date = [date, date, date, date, date, date, date, date, date, date, date, date, date, date, date, date,
                date, date, date, date, date, date, date, date]

In [18]:
hours = list(daily_hourly_values['Hour'])

In [19]:
data_dict = {'Date': current_date, 'Hour': hours, 'Power (KW)': return_array}

In [32]:
data_dataframe = pd.DataFrame(data_dict)
data_dataframe

          Date  Hour  Power (KW)
0   2022-06-19     0    0.000073
1   2022-06-19     1    0.000073
2   2022-06-19     2    0.000073
3   2022-06-19     3    0.000073
4   2022-06-19     4    0.000073
5   2022-06-19     5    0.083800
6   2022-06-19     6    0.128828
7   2022-06-19     7    0.144761
8   2022-06-19     8    0.026198
9   2022-06-19     9    0.000073
10  2022-06-19    10   -0.020152
11  2022-06-19    11   -0.035667
12  2022-06-19    12   -0.040251
13  2022-06-19    13   -0.041292
14  2022-06-19    14   -0.059249
15  2022-06-19    15   -0.075704
16  2022-06-19    16   -0.086282
17  2022-06-19    17   -0.093270
18  2022-06-19    18   -0.093904
19  2022-06-19    19   -0.084126
20  2022-06-19    20   -0.084287
21  2022-06-19    21   -0.088574
22  2022-06-19    22    0.000073
23  2022-06-19    23    0.000073

In [21]:
# dependent_variable = 'Power (KW)'

In [22]:
# independent_variables = df1.columns.tolist()
# independent_variables.remove(dependent_variable)

In [23]:
# independent_variables

In [24]:
# X = df1[independent_variables].values

In [25]:
# y = df1[dependent_variable].values

In [26]:
# X_train, X_test, y_train, y_test, = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [27]:
# X_train

In [28]:
# regressor = LinearRegression()
# regressor.fit(X_train, y_train)

In [29]:
# y_pred = regressor.predict(X_test)
# y_pred

In [30]:
# math.sqrt(mean_squared_error(y_test, y_pred))

In [31]:
# r2_score(y_test, y_pred)